@charset "UTF-8";
.container_footer{
	width: 100%;
	height: 10vh;
	background-color: green;
}

.container_footer .footer {
	width: 80%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;/* header 클래스 밑에 div nev가 좌우로 붙음  */
	align-items:  center;
}

.container_footer .footer h1 a {
	text-decoration: none;
	color: black;
	font-family: abster;
}

.container_footer .footer .nav_footer ul li {
	float : left;
	margin: 0 10px;
}

.container_footer .footer .nav_footer ul li a {
	text-decoration: none;
	color: black;
}