@charset "UTF-8";
.container_footer{
	width: 100%;
	height: 130px;
	clear: both;
}

.container_footer .footer {
	width: 80%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;/* header 클래스 밑에 div nev가 좌우로 붙음  */
	align-items:  center;
}

.container_footer .footer h1 a {
	float: right;
	color: #707070;
	font-size: 12px;
	text-decoration: none;
}

.container_footer .addr_footer p {
	float: right;
	color: #707070;
	font-size: 12px;
	text-decoration: none;
}

.container_footer .nav_footer{
	width: 980px;
	margin: 0 auto;
}


.container_footer .nav_footer ul {
	float: right;
	min-width: 585px;
	list-style: none;
	height: 35px;
	line-height: 35px;
}

.container_footer .nav_footer ul li {
	margin : 20px;
	float: right;
}

.container_footer .footer .nav_footer ul li a {
	text-decoration: none;
	color: black;
}