body { min-width: 1280px; max-width: 2000px;}

/* header css */
header {position: relative; text-align: center; height: 80px; padding: 10px 0 20px 0;}
header h1 { position: absolute; left: 50px; top: 0; padding: 14px 0 0;}
header h1 a {display: block; width: 150px; height: 80px; color: transparent; background-image: url(../img/logo.png);}

header .navi li { display: inline-block;} 
header .navi li a {display: block; height: 80px; padding: 0 35px; font-size: 17px; color: #333; line-height: 80px; }
header .navi li a:hover{color: #2b5b79; font-weight: bold;}
header .navi li a span { position: relative;}
header .navi li a:hover span:after {position: absolute; left: 0; bottom: -9px; content: ""; display: block;
width: 100%; height: 1px; background-color: #2b5b79;}

header .login{position: absolute; right: 5%; top: 0;} 
header .login li {position: relative; float:left;}
header .login li a { display: block; height: 80px; padding: 0 10px; line-height: 80px; padding-right: 0;}


/* footer css */
footer .top {background-color: #333;}
footer .top > div { width: 1180px; margin: 0 auto; padding: 13px 0;}
footer .top > div ul {float: left;}
footer .top > div ul li {position: relative; float: left; padding: 0 19px 0 19px ;}
footer .top > div ul li a {color: #fff; font-size: 13px; line-height: 45px;}

footer .top > div div {float: right;}
footer .top > div div p {display: inline-block; width: 242px; height: 45px; background-color: #2a3033; 
    color: #fff; text-align: center; line-height: 45px; font-size: 13px;}
footer .top > div div p strong { font-size: 20px; padding: 0 0 0 15px;}
footer .top > div div select {width: 200px; height: 45px; padding:  0 0 0 21px; color: #191919; 
    font-size: 12px; box-sizing: border-box; border: none; vertical-align: 3px;}

footer .btm {padding: 10px 0 40px;; color: #000; text-align: center;}
footer .btm p {display: inline-block; width: 200px; height: 80px; background: url(../img/name1.png); color: transparent;}
footer .btm ul {padding: 14px 0 14px ;}
footer .btm li { display: inline-block; padding: 0 10px; color: #000; font-size: 14px;}
footer .btm li:after{content: ""; position: absolute; right: 0; top: 50%; margin-top: -4px; width: 1px; height: 8px; background: #000;}
footer .btm address { font-size: 14px; color: #000;}

/* visual css */
.visual {position: relative; padding: 0 50px;}
.visual .prev,
.visual .next { display: block; position: absolute; top: 50%; transform: translateY(-50%); width: 30px; height: 30px;
background: url(../img/circle.png) no-repeat; color: transparent;}
.visual .prev {left: 80px;}
.visual .next {right: 80px;}

.visual .control { position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center;}
.visual .control > div { display: inline-block; position: relative; padding: 0 45px 0 0 ;}
.visual .control > div > div { position: absolute; right: 0;}
.visual .control > div > div a { display: inline-block; width: 8px; height: 8px; overflow: hidden; margin: 0 0 0 7px; opacity: 0.5;}
.visual .control > div > div a .on { opacity: 1;}
.visual .control > div > div a .play { background: url(../img/play.png) no-repeat center;} 
.visual .control > div > div a .pause { background: url(../img/pause.png) no-repeat center;}

.visual .control ul { display: inline-block; font-size: 0; position: relative; top: 6px;}
.visual .control li { display: inline-block; padding: 0 3px; }
.visual .control li.on a { background-color: #fff;}
.visual .control li a { display: block; width: 50px; height: 3px; background: rgba(255, 255, 255 , 0.5); border: none;}

.visual .control a { color:  transparent;}

.visual .con > div {height: 640px;}
.visual .con .slide1 {background: url(../img/family.jpg) no-repeat center; color: #fff; font-size: 30px; }
.visual .con .slide1 p { font-size: 20px; padding: 19px 0 0 ; line-height: 100%;}
.visual .con .slide1 .txt {position: absolute; right: 62%; top: 150px}

/* notice_text link css */

.notice > div {width: 1180px; margin: 0 auto; padding: 55px 0; }
.notice > div .top {padding-left: 55px; }
.notice > div .top ul {float: left; }
.notice > div .top ul a {display: block; padding: 100px 0 0 ; width: 250px; height: 250px; 
    text-align: center; box-sizing: border-box; font-size: 17px; color: black; border-radius: 20px;}
.notice > div .top ul li{float: left; padding: 0 20px 0 0;}
.notice > div .top ul li:nth-child(1) a {background-color: antiquewhite;}
.notice > div .top ul li:nth-child(2) a {background-color: antiquewhite;}
.notice > div .top ul li:nth-child(3) a {background-color: antiquewhite;}
.notice > div .top ul li:nth-child(4) a {background-color: antiquewhite;}

/* notice_text css */
.notice article {padding: 20px 0 0;}
.notice article > div {position: relative; float: left; height: auto; width: 520px; background-color: antiquewhite; margin-right: 10px; border-radius: 20px;} 
.notice article > div.left {margin-left: 55px;}
.notice article > div.left ul li {float: left; padding: 35px; width: 50%; box-sizing: border-box; border-left: 1px solid #fff;}
.notice article > div.left ul li:first-child{border-left: none;}
.notice article > div.left ul li span {display: block; width: 100%; overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap; line-height: 100%;}
.notice article > div.left ul li p {padding: 20px 0 20px; line-height: 100%;}
.notice article > div.left ul li div{line-height: 21px;}

.notice article > div.right { float: right; margin-right: 65px;}
.notice article > div.right ul li {position: relative; border-bottom: solid #fff 1px;}
.notice article > div.right ul li:last-child{border-bottom: none;}
.notice article > div.right ul li a {display: block; height: 60px; line-height: 60px; text-indent: 30px;
width: 400px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice article > div.right p {position: absolute; right: 30px; top :0;}

.notice article > div a {font-size: 16px; color: #000;}
.notice article > div a p {font-size: 12px; color: #979797;}
.notice article > div > a { position: absolute; right: 23px; top: 23px; width: 30px; height: 30px; 
    background-color: #fff; border-radius: 30px; color: transparent;}
.notice article > div h2 {font-size: 24px; color: #191919; text-align: center; height: 77px; 
    line-height: 77px; border-bottom: 1px solid #fff;}


/* login page */

main .main_class .login .login_position {
    padding-left: 38%;
}
main .main_class .login .login_position > div {
    padding: 15px 15px 15px 15px;
    border: 2px solid antiquewhite;
    width: 350px;
    border-radius: 20px;
}

main .main_class .login .top {position: relative; width: 350px; }
main .main_class .login .top li { padding : 0 0 9px;}
main .main_class .login .top li label{display: inline-block; font-size: 11px; color: black; width: 63px;}
main .main_class .login .top li input[type="text"],
main .main_class .login .top li input[type="password"] {width: 150px; height: 30px; padding: 0; border-color: #d9d9d9;}

main .main_class .login .top li a {display: block; width: 120px; height: 70px; background-color: antiquewhite;
    font-size: 17px; text-align: center; line-height: 70px; font-weight: bold;} 

main .main_class .login .top li.btn { position: absolute; right: 0px; top: 0px;}

main .main_class .login .top li.save { padding: 0 0 0 55px;}
main .main_class .login .top li.save label{ font-weight: normal; width: auto;}

/* find id password */
main .main_class .login .btm {position: relative; padding: 30px 0 0 60px; width: 350px;}
main .main_class .login .btm li {color: black; font-size: 12px; padding: 0 0 11px 0;}
main .main_class .login .btm li a {font-size: 12px; margin: 0 0 0 10px; font-weight: bold; text-decoration: underline;}


/* board */
main .main_class .title{ padding: 0 0 0 50px ;}

main .main_class .title h3 {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 600;
    font-size: 23px;
    color: black;
}
caption{ display: none;}

main .main_class .board_list_wrap {
    padding : 50px;
}

main .main_class .board_list { 
    border-top: 2px solid black;
    width: 100%;
}

main .main_class .board_list tr {
    border-bottom: 1px solid black;
}

main .main_class .board_list th,
main .main_class .board_list td {
    padding: 10px;
    font-size: 14px;
}

main .main_class .board_list td { text-align: center;}

main .main_class .board_list .tit:nth-child(2){
    text-align: left;
}


main .main_class .board_list .tit:hover{
    text-decoration: underline;
}

main .main_class .board_list_wrap .paging {
    text-align: center;
    margin-top: 20px;
    font-size: 0;
}
main .main_class .board_list_wrap .paging a {
    display: inline-block;
    font-size:  12px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
}

main .main_class .board_list_wrap .paging a:first-child{
    margin-left: 0;
}

main .main_class .board_list_wrap .paging a.bt{
    background-color: antiquewhite;
}

main .main_class .board_list_wrap .paging a.num{
    font-weight: 600;
    border: 1px solid antiquewhite;
}

main .main_class .board_list_wrap .paging a.num.on {
    background : antiquewhite;
}