@charset "utf-8";
body { min-width: 1280px; max-width: 2000px;}

/* header css */
header {position: relative; text-align: center; height: 80px; padding: 10px 0 20px 0;}
header h1 { position: absolute; left: 50px; top: 0; padding: 14px 0 0;}
header h1 a {display: block; width: 150px; height: 80px; color: transparent; background-image: url(../img/logo.png);}

header .navi li { display: inline-block;} 
header .navi li a {display: block; height: 80px; padding: 0 35px; font-size: 17px; color: #333; line-height: 80px; }
header .navi li a:hover{color: #2b5b79; font-weight: bold;}
header .navi li a span { position: relative;}
header .navi li a:hover span:after {position: absolute; left: 0; bottom: -9px; content: ""; display: block;
width: 100%; height: 1px; background-color: #2b5b79;}

header .login{position: absolute; right: 5%; top: 0;} 
header .login li {position: relative; float:left;}
header .login li a { display: block; height: 80px; padding: 0 10px; line-height: 80px; padding-right: 0;}


/* footer css */
footer .top {background-color: #333;}
footer .top > div { width: 1180px; margin: 0 auto; padding: 13px 0;}
footer .top > div ul {float: left;}
footer .top > div ul li {position: relative; float: left; padding: 0 19px 0 19px ;}
footer .top > div ul li a {color: #fff; font-size: 13px; line-height: 45px;}

footer .top > div div {float: right;}
footer .top > div div p {display: inline-block; width: 242px; height: 45px; background-color: #2a3033; 
    color: #fff; text-align: center; line-height: 45px; font-size: 13px;}
footer .top > div div p strong { font-size: 20px; padding: 0 0 0 15px;}
footer .top > div div select {width: 200px; height: 45px; padding:  0 0 0 21px; color: #191919; 
    font-size: 12px; box-sizing: border-box; border: none; vertical-align: 3px;}

footer .btm {padding: 10px 0 40px;; color: #000; text-align: center;}
footer .btm p {display: inline-block; width: 200px; height: 80px; background: url(../img/name1.png); color: transparent;}
footer .btm ul {padding: 14px 0 14px ;}
footer .btm li { display: inline-block; padding: 0 10px; color: #000; font-size: 14px;}
footer .btm li:after{content: ""; position: absolute; right: 0; top: 50%; margin-top: -4px; width: 1px; height: 8px; background: #000;}
footer .btm address { font-size: 14px; color: #000;}

/* visual css */
.visual {position: relative; padding: 0 50px;}
.visual .prev,
.visual .next { display: block; position: absolute; top: 50%; transform: translateY(-50%); width: 30px; height: 30px;
background: url(circle.png) no-repeat; color: transparent;}
.visual .prev {left: 80px;}
.visual .next {right: 80px;}

.visual .control { position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center;}
.visual .control > div { display: inline-block; position: relative; padding: 0 45px 0 0 ;}
.visual .control > div > div { position: absolute; right: 0;}
.visual .control > div > div a { display: inline-block; width: 8px; height: 8px; overflow: hidden; margin: 0 0 0 7px; opacity: 0.5;}
.visual .control > div > div a .on { opacity: 1;}
.visual .control > div > div a .play { background: url(../img/play.png) no-repeat center;} 
.visual .control > div > div a .pause { background: url(../img/pause.png) no-repeat center;}

.visual .control ul { display: inline-block; font-size: 0; position: relative; top: 6px;}
.visual .control li { display: inline-block; padding: 0 3px; }
.visual .control li.on a { background-color: #fff;}
.visual .control li a { display: block; width: 50px; height: 3px; background: rgba(255, 255, 255 , 0.5); border: none;}

.visual .control a { color:  transparent;}

.visual .con > div {height: 640px;}
.visual .con .slide1 {background: url(../img/family.jpg) no-repeat center; color: #fff; font-size: 30px; }
.visual .con .slide1 p { font-size: 20px; padding: 19px 0 0 ; line-height: 100%;}
.visual .con .slide1 .txt {position: absolute; right: 62%; top: 150px}

/* notice_text link css */

.notice > div {width: 1180px; margin: 0 auto; padding: 55px 0;}
.notice > div .top {padding-left: 55px;}
.notice > div .top ul {float: left; }
.notice > div .top ul a {display: block; padding: 100px 0 0 ; width: 250px; height: 250px; 
    text-align: center; box-sizing: border-box; font-size: 17px; color: black;}
.notice > div .top ul li{float: left; padding: 0 20px 0 0;}
.notice > div .top ul li:nth-child(1) a {background-color: antiquewhite; border-radius: 10px;}
.notice > div .top ul li:nth-child(2) a {background-color: antiquewhite; border-radius: 10px;}
.notice > div .top ul li:nth-child(3) a {background-color: antiquewhite; border-radius: 10px;}
.notice > div .top ul li:nth-child(4) a {background-color: antiquewhite; border-radius: 10px;}

/* notice_text css */
.notice article {padding: 20px 0 0;}
.notice article > div {position: relative; float: left; height: auto; width: 520px; background-color: antiquewhite; margin-right: 10px; border-radius: 10px;} 
.notice article > div.left {margin-left: 53px;}
.notice article > div.left ul li {float: left; padding: 35px; width: 50%; box-sizing: border-box; border-left: 1px solid #fff;}
.notice article > div.left ul li:first-child{border-left: none;}
.notice article > div.left ul li span {display: block; width: 100%; overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap; line-height: 100%;}
.notice article > div.left ul li p {padding: 20px 0 20px; line-height: 100%;}
.notice article > div.left ul li div{line-height: 21px;}

.notice article > div.right { float: right; margin-right: 65px;}
.notice article > div.right ul li {position: relative; border-bottom: solid #fff 1px;}
.notice article > div.right ul li:last-child{border-bottom: none;}
.notice article > div.right ul li a {display: block; height: 60px; line-height: 60px; text-indent: 30px;
width: 400px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice article > div.right p {position: absolute; right: 30px; top :0;}

.notice article > div a {font-size: 16px; color: #000;}
.notice article > div a p {font-size: 12px; color: #979797;}
.notice article > div > a { position: absolute; right: 23px; top: 23px; width: 30px; height: 30px; 
    background-color: #fff; border-radius: 30px; color: transparent;}
.notice article > div h2 {font-size: 24px; color: #191919; text-align: center; height: 77px; 
    line-height: 77px; border-bottom: 1px solid #fff;}

/* intro */
main .main_class {
    height: 80%;
    position: relative;
}

main .main_class .intro_box{
    position: absolute;
    padding: 70px 200px 0px 200px ;
    width: 500px;
}

main .main_class .intro_box .content_box_intro h3{
    font-size: 28px;
    color: #191919;
}

main .main_class .intro_box .intro {
    padding-top: 20px;
    border-top: 1px solid black;
    width: 1150px;
}

main .main_class .intro_box .intro .intro_txt {
    width: 630px;
    height: 600px;
    float: left;
    background-color: aquamarine;
}

main .main_class .intro_box .intro .intro_pic {
    width: 500px;
    height: 600px;
    float: right;
    background-color: antiquewhite;
}


/* find Id */
main .main_class .content_box .member_cont .login_findid input[type=submit]{
border: 1px solid antiquewhite; background: antiquewhite; width: 150px; height: 85px; float: right; 
color: #191919 ; font-size: 14px; text-align: center; font-weight: bold;
}

main .main_class .content_box .member_cont .login input[type=submit]{
    border: 1px solid antiquewhite; background: antiquewhite; float: right; width: 158px; height: 91px; 
    margin: 15px 0 0 0; color: #191919; font-size: 15px; font-weight: bold;
}
.member_tit h2 { font-size: 28px; color: #191919;}

.btn_member_join{width:150px; height:45px; margin:0; color:#191919; font-size:14px; border:1px solid antiquewhite;
     background:antiquewhite; cursor:pointer; font-weight:bold;}
.btn_member_join:hover{border:1px solid #626262; color: #191919; background:antiquewhite;}

.btn_member_sec .btn_member_join {
	width: 100px; margin: auto; display: block;
	text-align: center;
}

#idCheck,
#pwCheck {
	font-size: 12px; line-height: 1.5; color: #333; margin: 0 0 0 5px; padding: 5px 10px 5px 10px; border: 1px solid #989898;
}

.member_cont .btn_center_box input[type=button]{
	width: 150px; height: 45px; color: #3e3d3c; font-weight: bold; font-size: 13px; border: 1px solid #cccccc; background: #fff; cursor: pointer;text-align: center;
}
.member_cont .btn_center_box input[type=submit]{
	color:#191919; width: 150px; height: 45px; margin: 0; font-size: 14px; border: 1px solid antiquewhite; background:antiquewhite; cursor: pointer; font-weight: bold;text-align: center;
}