@charset "utf-8";
main .main_class {
    height: 1500px;
    position: relative;
}

main .main_class .intro_box{
    position: absolute;
    padding: 100px 200px 15px 200px ;
    width: 500px;
    height: 1200px;
}

main .main_class .intro_box .content_box h3{
    font-size: 28px;
    color: #191919;
}

main .main_class .intro_box .intro {
    padding-top: 20px;
    border-top: 1px solid black;
    width: 1150px;
}

main .main_class .intro_box .intro .intro_txt {
    width: 630px;
    height: 1000px;
    float: left;
    background-color: aquamarine;
}

main .main_class .intro_box .intro .intro_pic {
    width: 500px;
    height: 1000px;
    float: right;
    background-color: antiquewhite;
}