@charset "utf-8";

/* login page */

main .main_class .login .top {position: relative; width: 350px;}
main .main_class .login .top li { padding : 0 0 9px;}
main .main_class .login .top li label{display: inline-block; font-size: 11px; color: black; width: 63px;}
main .main_class .login .top li input[type="text"],
main .main_class .login .top li input[type="password"] {width: 150px; height: 30px; padding: 0; border-color: #d9d9d9;}

main .main_class .login .top li a {display: block; width: 120px; height: 70px; background-color: antiquewhite;
    font-size: 17px; text-align: center; line-height: 70px; font-weight: bold;} 

main .main_class .login .top li.btn {position: absolute; right: 0px; top: 0px;}

main .main_class .login .top li.save { padding: 0 0 0 55px;}
main .main_class .login .top li.save label{ font-weight: normal; width: auto;}

/* find id password */
main .main_class .login .btm {padding: 30px 0 0 60px;}
main .main_class .login .btm li {color: black; font-size: 12px; padding: 0 0 11px 0;}
main .main_class .login .btm li a {font-size: 12px; margin: 0 0 0 10px; font-weight: bold; text-decoration: underline;}